// ----------------------------------------
// About
// ----------------------------------------

#about {
  article {
    max-width: 512px;
    margin: 0 auto;

    p {
      text-indent: 2em;
    }
  }
}

